* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background-color: #020617;
  color: #e5e7eb;
}

h1, h2, h3 {
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 10px 0;
}

button {
  background-color: #38bdf8;
  color: #020617;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  font-weight: 600;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

.card {
  background-color: #020617;
  border: 1px solid #1e293b;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
}

.page {
  padding: 16px;
  padding-bottom: 80px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #020617;
  border-top: 1px solid #1e293b;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-nav button {
  background: none;
  color: #94a3b8;
  font-weight: 600;
}

.bottom-nav button.active {
  color: #38bdf8;
}


.auth-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020617;
}

.auth-card {
  width: 320px;
  padding: 25px;
  background-color: #020617;
  border: 1px solid #1e293b;
  border-radius: 12px;
  text-align: center;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #0f172a;
  border: 1px solid #1e293b;
  border-radius: 8px;
  color: #e5e7eb;
}

.auth-card button {
  width: 100%;
  margin-top: 15px;
}
